body{
    background-color:#F0F0F0;
}
.ending{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.leading{
    font-size: 50px;
    font-style: italic;
    font-family: 'Oswald', sans-serif;
}
header{
    background-color:#C0C0C0;
}
.box{
    display:inline-block;
    width:300px;
    /* border:1px solid; */
    vertical-align:top;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}
.categories{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}
.itemName{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    background-color:#C0C0C0;
}
.itemDescription{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
.itemPrice{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
.itemPrint{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
input[type=submit]{
    padding:5px 15px; 
    background:#C0C0C0; 
    border:0 none;
    cursor:pointer;
    font-family: 'Raleway', sans-serif;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}